@import 'partials/resets';
@import 'partials/variables';
@import 'partials/mixins';

body {
  @include centeredFlex(column);
  font-family: $primary-font;
  background-color: $primary-color;
  width: 100vw;
  height: 100vh;
}

.app-container {
  width: 80%;
  max-width: 700px;
  margin: 5em auto 0;
  text-align: center;

  h1 {
    font-size: 2.5em;
    font-family: $title-font;
    margin-bottom: 0.9em;
  }

  input {
    @include todoStyle(95%);

    &:focus {
      border: none;
      outline: none;
    }
  }

  .todo {
    @include todoStyle(10%);
    @include centeredFlex(row);
    justify-content: space-between;

    button {
      text-align: center;
      font-size: 1em;
      background-color: transparent;
      padding: 0 3px;
      border: none;
      outline: none;
      cursor: pointer;
    }

    &.completed {
      border: 2px solid $accent-color;
      padding: 6px;

      & p {
        text-decoration: line-through;
        color: $accent-color;
      }

      & button:first-child:focus {
        color: $accent-color;
      }
    }
  }
}
