@use 'fonts';

// Colors
$primary-color: hsl(0, 0%, 89%);
$accent-color: hsl(155, 72%, 48%);
$title-color: rgb(38, 73, 126);

// Fonts
$primary-font: 'Chivo', sans-serif;
$title-font: 'Josefin Sans', sans-serif;
